table.jsonTable{
    font-family: ui-sans-serif, system-ui, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: white;
    border-collapse: collapse;
    display: table;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    text-align: left;
}

table.jsonTable thead {
    top:50px;
}

table.jsonTable thead th, table caption {
    border: 1px solid #efefef;
    border-top: none;
    color: #646566;
    outline: 0;
    background: #f9fafb;
    font-weight: bold;
    top: 0;
    padding: 14px 24px;
    font-size: 18px;
    line-height: 1.2;
}

table.jsonTable td {
    border: 1px solid #efefef;
    padding: 12px 24px;
}

table.jsonTable tr {
    font-size: 15px;
    color: #212529;
    line-height: 1.2;
}
