div.jsonTableContainer{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-color: #e5e7eb;
    border-radius: 8px;
    border-top-width: 1px;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}


table.jsonTable{
    font-family: ui-sans-serif, system-ui, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";;
    background: #18181B;
    border-collapse: collapse;
    display: table;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    padding: 0;
    text-align: left;
    width: 100%;
}
table.jsonTable thead th, table caption {

    border: 1px solid #e5e7eb;
    border-top: none;
    color: #6b7280;
    outline: 0;
    padding: 14px 24px;
    background: #f9fafb;
    font-weight: bold;
}
table.jsonTable td, table th {
    text-align: left;
}
table.jsonTable th {
    padding-left: 8px;
    border-top: none;
    color: #6b7280;
    outline: 0;
    font-size: 18px;
    line-height: 1.2;
}

table.jsonTable td {
    border: 1px solid #e5e7eb;
    padding: 12px 24px;
}

table.jsonTable tr {
    font-size: 15px;
    color: #000000;
    line-height: 1.2;
}

/*table.jsonTable tbody tr:hover {*/
/*    color: var(--hover-color);*/
/*    background-color: var(--hover-bg-color);*/
/*}*/


/*
Fixed header table with scrollable body
Based on https://stackoverflow.com/a/25819112
*/

.scrollingtable {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f9fafb;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-color: #e5e7eb;
    border-radius: 8px;
    border-top-width: 1px;
    width: 100%; /*if you want a fixed width, set it here, else set to auto*/
    min-width: 0/*100%*/; /*if you want a % width, set it here, else set to 0*/
    height: 100%; /*set table height here; can be fixed value or %*/
    min-height: 0/*104px*/; /*if using % height, make this large enough to fit scrollbar arrows + caption + thead*/
    font-family: ui-sans-serif, system-ui, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
    padding: 0 0 0 0; /*need enough padding to make room for caption*/
    text-align: left;
}
.scrollingtable * {box-sizing: border-box;}
.scrollingtable > div {
    position: relative;
    height: 100%;
    padding-top: 50px; /*this determines column header height*/

}
.scrollingtable > div:before {
    top: 0;

}
.scrollingtable > div:before,
.scrollingtable > div > div:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
}
.scrollingtable > div > div {
    min-height: 0/*43px*/; /*if using % height, make this large enough to fit scrollbar arrows*/
    max-height: 100%;
    overflow: auto/*auto*/; /*set to auto if using fixed or % width; else scroll*/
    overflow-x: hidden;

}
.scrollingtable > div > div > table {
    width: 100%;
    /*border-spacing: 0;*/
    margin-top: -21px; /*inverse of column header height*/
    /*margin-right: 17px;*/ /*uncomment if using % width*/


}
.scrollingtable > div > div > table > caption {
    position: absolute;
    top: -20px; /*inverse of caption height*/
    /*margin-top: -1px; !*inverse of border-width*!*/
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.scrollingtable > div > div > table > thead > tr > * {
    padding: 0 ;

}


.scrollingtable > div > div > table > thead {
    vertical-align: bottom;
    white-space: nowrap;
    text-align: center;

}
.scrollingtable > div > div > table > thead > tr > * > div {
    display: inline-block;
    padding: 0 0 0 24px ; /*header cell padding*/
}
.scrollingtable > div > div > table > thead > tr > :first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px; /*match column header height*/

}
.scrollingtable > div > div > table > thead > tr > * > div[itemprop]:before,
.scrollingtable > div > div > table > thead > tr > * > div > div:first-child,
.scrollingtable > div > div > table > thead > tr > * + :before {
    position: absolute;
    top: 14px;
    white-space: pre-wrap;
}
.scrollingtable > div > div > table > thead > tr > * > div[itemprop]:before,
.scrollingtable > div > div > table > thead > tr > * > div[itemprop]:after {content: attr(itemprop);}
.scrollingtable > div > div > table > thead > tr > * + :before {
    content: "";
    display: block;
    min-height: 50px; /*match column header height*/
    top: 0;
    margin-left: -1px;
    border-left: 1px solid #e5e7eb;
}
.scrollingtable .scrollbarhead {
    float: right;
}
.scrollingtable .scrollbarhead:before {
    position: absolute;
    width: 100px;
    top: -1px; /*inverse border-width*/
}
.scrollingtable > div > div > table > tbody > tr:after {
    content: "";
    display: table-cell;
    position: relative;
    padding: 0;
    top: -1px; /*inverse of border width*/
}

.scrollingtable > div > div > table > tbody {
    vertical-align: top;
}

.scrollingtable > div > div > table > tbody > tr > * {
    /*padding: 0 6px 0 6px;*/
    /*height: 30px;*/ /*match column header height*/
}

.scrollingtable > div > div > table > tbody > th > * {
    /*padding: 14px 24px;*/
    /*height: 10px;*/ /*match column header height*/
}
