/*
Based on https://stackoverflow.com/a/25819112
*/

.scrollingtable {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: auto; /*if you want a fixed width, set it here, else set to auto*/
    min-width: 0/*100%*/; /*if you want a % width, set it here, else set to 0*/
    height: 100%; /*set table height here; can be fixed value or %*/
    min-height: 0/*104px*/; /*if using % height, make this large enough to fit scrollbar arrows + caption + thead*/
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0 20px 0; /*need enough padding to make room for caption*/
    text-align: left;
}
.scrollingtable * {box-sizing: border-box;}
.scrollingtable > div {
    position: relative;
    height: 100%;
    padding-top: 20px; /*this determines column header height*/
}
.scrollingtable > div:before {
    top: 0;
}
.scrollingtable > div:before,
.scrollingtable > div > div:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
}
.scrollingtable > div > div {
    min-height: 0/*43px*/; /*if using % height, make this large enough to fit scrollbar arrows*/
    max-height: 100%;
    overflow: auto/*auto*/; /*set to auto if using fixed or % width; else scroll*/
    overflow-x: hidden;
}
.scrollingtable > div > div > table {
    width: 100%;
    /*border-spacing: 0;*/
    margin-top: -20px; /*inverse of column header height*/
    /*margin-right: 17px;*/ /*uncomment if using % width*/
}
.scrollingtable > div > div > table > caption {
    position: absolute;
    top: -20px; /*inverse of caption height*/
    /*margin-top: -1px; !*inverse of border-width*!*/
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.scrollingtable > div > div > table > * > tr > * {padding: 0;}
.scrollingtable > div > div > table > thead {
    vertical-align: bottom;
    white-space: nowrap;
    text-align: center;
}
.scrollingtable > div > div > table > thead > tr > * > div {
    display: inline-block;
    padding: 0 6px 0 6px; /*header cell padding*/
}
.scrollingtable > div > div > table > thead > tr > :first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px; /*match column header height*/
}
.scrollingtable > div > div > table > thead > tr > * > div[itemprop]:before,
.scrollingtable > div > div > table > thead > tr > * > div > div:first-child,
.scrollingtable > div > div > table > thead > tr > * + :before {
    position: absolute;
    top: 0;
    white-space: pre-wrap;
}
.scrollingtable > div > div > table > thead > tr > * > div[itemprop]:before,
.scrollingtable > div > div > table > thead > tr > * > div[itemprop]:after {content: attr(itemprop);}
.scrollingtable > div > div > table > thead > tr > * + :before {
    content: "";
    display: block;
    min-height: 20px; /*match column header height*/
    padding-top: 1px;
}
.scrollingtable .scrollbarhead {float: right;}
.scrollingtable .scrollbarhead:before {
    position: absolute;
    width: 100px;
    top: -1px; /*inverse border-width*/
}
.scrollingtable > div > div > table > tbody > tr:after {
    content: "";
    display: table-cell;
    position: relative;
    padding: 0;
    top: -1px; /*inverse of border width*/
}
.scrollingtable > div > div > table > tbody {vertical-align: top;}
.scrollingtable > div > div > table > tbody > tr > * {
    padding: 0 6px 0 6px;
    height: 20px; /*match column header height*/
}
